$primary_color: #E58F9A;
$second_color: #fff;
$text_color_white: #fff;
$text_color_black: #000;
$font_weight_bold: 700;
$font_weight_medium: 500;
$font_size_small: 16px;
$font_size_medium: 20px;
$font_size_larger: 24px;
$font_size_biggest: 60px;
$text_color_paragraph: #F2C6CB;

/*Responsive variables*/
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;